* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-slide { 
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #36454F;
    transition: 0.5 ease-in-out;
}

ul li a { 
    color: #f2f8fc;
}

body { 
    background-color: #252525;
}

.blink { 
    animation: blink 1s linear infinite;
    color: rgb(255 0 0); 
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.secao-esportes {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#futebol-esporte {
    position: relative;
    height: 140vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 2rem; 
}

#futebol-esporte::before { 
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url(/frontend/src/assets/img/futebol-bg-5.png); 
    background-position: inherit;
    background-size: inherit;
    filter: blur(2px) brightness(40%);
    transform: scale(1.05); 
    z-index: 0;
}

#futebol-esporte .esportes-container {
    position: relative;
    z-index: 2;
}

#volei-esporte {
    position: relative;
    height: 140vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 2rem; 
}

#volei-esporte::before { 
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url(/frontend/src/assets/img/volei-bg-3.jpeg);
    background-position: inherit;
    background-size: inherit;
    filter: blur(2px) brightness(40%);
    transform: scale(1.05); 
    z-index: 0;
}

#volei-esporte .esportes-container {
    position: relative;
    z-index: 2;
}

#tenis-de-mesa-esporte {
    position: relative;
    height: 140vh; 
    background-position: center bottom;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 2rem; 
}

#tenis-de-mesa-esporte::before { 
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url(/frontend/src/assets/img/tenis-de-mesa-bg-3.jpeg); 
    background-position: inherit;
    background-size: inherit;
    filter: blur(2px) brightness(40%);
    transform: scale(1.05); 
    z-index: 0;
}

#tenis-de-mesa-esporte .esportes-container {
    position: relative;
    z-index: 2;
}

#spanVermelho {
    color: #C20717;
}

.esportes-container h2 {
    font-family: "Neue Plak Extended Bold";
    font-size: 3rem;
    color: white;
}

.esportes-container p {
    font-family: "Neue Plak Extended Bold";
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.8rem;
}

#futebol-esporte .esportes-container { 
    position: relative;
    z-index: 2;
    transform: translateY(-100%);
}

#volei-esporte .esportes-container { 
    position: relative;
    z-index: 2;
    transform: translateY(-100%);
}

#tenis-de-mesa-esporte .esportes-container { 
    position: relative;
    z-index: 2;
    transform: translateY(-100%);
}