nav {
    position: fixed;
    z-index: 998;
}

#menu {
    border: none;
    background-color: transparent;
    border-top: 3px solid #e7e7e7;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    transform: translate(100%, 150%);
}

#menu::before,
#menu::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #e7e7e7;
    margin-top: 5px;
}

#sidebar {
    position: relative;
    width: 0;
    height: 100vh;
    background-color: #17181de3;
    overflow-x: hidden;
    transition: width 0.5s ease;
    -webkit-box-shadow: 20px 0px 20px 0px #0e0f11e3;
    -moz-box-shadow: 20px 0px 20px 0px #0e0f11e3;
    box-shadow: 20px 0px 20px 0px #0e0f11e3;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(15%, 30%);
}

#sidebar ul li a {
    display: flex;
    width: 70%;
    text-decoration: none;
    color: #e7e7e7;
    font-family: "Neue Plak Extended SemiBold";
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: #0e0e11e3;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

#sidebar ul li a:hover {
    filter: brightness(2);
}

#sidebar.active {
    width: 15rem;
}

#sidebar.active ul li a {
    width: 70%;
}